body {
    background-color: #b0c4de;
}

h1{
    font-family: 'Indie Flower', cursive;
	font-size: 75px;
}

.col-centered{
	/*
    float: none;
    margin: 0 auto;
    */
    padding-left: 10%;
    padding-right: 10%;
}

.other-centered{
	/*
	margin-right: auto;
	margin-left: auto;
	*/
	display: block;
	margin: 0 auto;
}

.center-text{
	text-align: center;
}

.fill-width{
	width:100%;
}

.make-tall-fifty{
	height:50px;
}

.centerme{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    position: relative;
}

.m4top{
	height:20%;
	background-color: #6CFF01;
}
.m4mid{
	height:60%;
	background-color: #5F2CBC;
}
.m4bot{
	height:20%;
	background-color: #FF9108;
}

.m4tq{
	width:25%;
	height: 100%;
	float: left;
	border: 1px solid red;
}